#title{
  text-align: center;
  margin-bottom: 0;
}

#menuBar{
}


#profileDiv{
  margin-top: 100px;
  margin-bottom: 100px;
  display:flex;
  width: 100%;
}

h1{
  margin-bottom: 20px;
}

#userListings{
  margin-top: 50px;
  margin-bottom: 100px;
}

#mainProfileDiv{
  margin: 0;
  width: 100%;
}

.profileElements{
  margin: 30px;
}
