
#inputDiv{
  width: 150px;
  margin: auto;
}
#bottomDiv{
  margin: 20px auto;
  width: 500px;
  text-align: center;
}

#isbnDiv{
  margin: 20px auto;
  width: 200px;
  text-align: center;
}

#checkIsbnBtn{
  margin: 20px;
}

#listingInputDiv{
  margin: 20px auto;
  width: 150px;
}
#errorTag{
  width: 150px;
  margin: auto;
  text-align: center;
}
