#title{
  text-align: center;
  margin-bottom: 0;
}

#menuBar{
}

h1{
  margin-top: 50px;
}

#listings{
  margin-bottom: 100px;
  margin: 0;
  width: 100%;
}


.dataRightBorder{
  border-right: 2px solid black;
}

#matchedTextbookTable{
  margin: 0;
  width: 100%;
  margin-top: 50px;
}
